[submodule "rust-web3-practice"]
	path = rust-web3-practice
	url = https://github.com/6iKezbAD3CZnf/rust-web3-practice.git
[submodule "blockscout"]
	path = blockscout
	url = https://github.com/blockscout/blockscout.git
